:root {
  --background-color: #1b1b1b;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: var(--background-color);
  position: relative;
}

.container {
  width: 1280px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 16px;
}

.word {
  white-space: nowrap;
  display: inline-block;
}

.char {
  display: inline-block;
}

@media (max-width: 1280px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}