:root {
  --background-color: #1b1b1b;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: var(--background-color);
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 16px;
}

@media (max-width: 1280px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 640px;
  }
}